.AddPrep-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin: auto;
}

.AddPrep-input-amount {
   width: 150px;
   height: 25px;
   border-radius: 0.25rem;
   border: 2px solid lightgray;
}

.AddPrep-input-measure {
   width: 150px;
   height: 25px;
   border-radius: 0.25rem;
   border: 2px solid lightgray;
}

.AddPrep-input-ingredient {
   width: 450px;
   height: 25px;
   border-radius: 0.25rem;
   border: 2px solid lightgray;
}

.AddPrep-label {
   text-align: left;
   font-size: 0.95rem;
   font-weight: 600;
   margin-bottom: 1rem;
}

.AddPrep-two-columns {
   width: 65%;
   display: flex;
   justify-content: space-between;
}

.AddPrep-button-div {
   display: flex;
   align-items: center;
}

.AddPrep-submit-button {
   width: 156px;
   height: 32px;
   margin: 0;
   margin-bottom: 1rem;
}

.AddPrep-finished-button {
   width: 20%;
   height: 32px;
   margin: 0 1rem;
   margin-bottom: 1rem;
   background-color: lightgreen;
}