.main-container {
   display: flex;
   background-color: darkgray;
   margin: 0 0.5rem;
   border-radius: 0.15rem;
}

.left-side-container {
   background-color: lightgray;
   width: 250px;
   font-size: 0.5rem;
   height: 100vh;
   overflow-y: auto;
}

.right-side-container {
   width: 100%;
   padding: 2rem;
   background-color: lightslategray;
   align-content: flex-end;
}

.right-side-container p {
   text-align: left;
   white-space: normal;
   margin: 0.5rem 0;
}

.right-side-inner-container {
   display: flex;
}

.right-side-ingredients {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.right-side-container .description {
   width: 80%;
   text-align: center;
   margin: 0 auto;
}

.right-side-prep {
   margin-left: 5rem;
   width: 70%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   line-height: 1.5rem;
}

.right-side-prep strong {
   padding-right: 1rem;
}

.recipe {
   display: flex;
   flex-direction: column;
   margin: 0.25rem 0;
   align-items: center;
}

.left-side-container img {
   width: 50%;
   border-radius: 5%;
}

.left-side-container button {
   color: black;
}

.right-side-container img {
   max-height: 35%;
   padding: 2rem 0;
}

hr {
   width: 95%;
}

.SideRecipes-h2 {
   margin: 0 0.25rem;
}