.Signup {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.Signup-h1 {
   width: 100%;
   height: 64px;
   justify-content: center;
   align-self: center;
   align-items: center;
   background-color: rgba(255, 72, 0, 0.85);
   color: rgba(255, 255, 255, 0.85);
   margin: 0;
}

.Signup-container {
   display: flex;
   width: 80%;
   align-items: flex-start;
   margin-top: 1rem;
}

.Signup-div-row {
   display: flex;
   margin: 1rem 2rem;;
}

.Signup-label {
   text-align: right;
   margin-right: 1rem;
   font-size: 0.95rem;
   font-weight: 600;
}

.Signup-input {
   display: flex;
   width: 250px;
   height: 30px;
   border-radius: 0.25rem;
   border: 1px solid lightgray;
   margin: 0.25rem 0;
   justify-content: flex-end;
}

.Signup-button, button {
   text-decoration: none;
   font-size: 1rem;
   margin: 0.5rem 1.0rem;
   color: black;
   border: 1px solid black;
   border-radius: 0.25rem;
   padding: 0.25rem 0.5rem;
}
