.NavBar, .NavBar-right-side {
   width: 100%;
   height: 64px;
   background-color: darkred;
   display: flex;
   justify-content: flex-end;
}

.NavBar-left-side {
   width: 30%;
   font-size: 1rem;
   font-weight: 700;
   color: rgb(220, 220, 220);
   letter-spacing: 0.1rem;
   margin: 0 1rem;
   align-self: center;
}

.NavBar-Login-button, .NavBar-SignUp-button, .NavBar-SignOut-button {
   border: none;
   outline: none;
   background-color: inherit;
   font-size: 1rem;
   font-weight: 700;
   color: rgb(220, 220, 220);
   transition: ease-in-out 0.25s;
   letter-spacing: 0.1rem;
   margin: 0 1rem;
   align-self: center;
}

.NavBar-Login-button, .NavBar-SignUp-button, .NavBar-SignOut-button {
   text-decoration: none;
}

.NavBar-Login-button:hover, .NavBar-SignUp-button:hover, .NavBar-SignOut-button:hover {
   color: rgba(200, 200, 200, 0.7);
}

.fa-arrow-right {
   margin-left: 0.5rem;
}